{{ 'banner.css' | asset_url | stylesheet_tag }}

<section class="custom-banner" style="text-align: center; ">
  <div class="banner-image-one">
    <img
      src="{{'banner2.jpg' | asset_url }}"
      alt="{{ section.settings.alt | escape }}"

      width="100%"
      height="600"
    >
    <div class="content">
      <h2 style="margin-top: 1rem;">{{ section.settings.message }}</h2>
    </div>
  </div>
  <div class="banner-image-two">
    <div class="content-image">
      <img
        src="{{'cosmeticos-naturales.webp' | asset_url }}"
        alt="{{ section.settings.alt | escape }}"

        width="1200"
        height="600"
      >
    </div>
    <div class="content-image-t">
      <img
        src="{{'banner3.jpg' | asset_url }}"
        alt="{{ section.settings.alt | escape }}"

        width="1200"
        height="600"
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "text",
      "id": "alt",
      "label": "Texto alternativo de la imagen",
      "default": "Banner"
    },
    {
      "type": "text",
      "id": "message",
      "label": "Mensaje del banner",
      "default": "¡Bienvenido a nuestra tienda!"
    }
  ],
  "presets": [
    {
      "name": "Banner con imagen y mensaje"
    }
  ]
}
{% endschema %}
